<p><strong><%=@user.username%></strong></p>

<h1>Previous Events</h1>
<p>
    <span>Title<span>
    <span> Description<span>
    <span>Location<span>
    <span>Date<span>
  </p>
  <%= render partial: 'event', collection:  @user.attended_events.previous_events %>
 
  <h1>upcoming Events</h1>
  <p>
    <span>Title<span>
    <span> Description<span>
    <span>Location<span>
    <span>Date<span>
  </p>
  <%= render partial: 'event', collection:  @user.attended_events.upcoming_events %>


