<h1>List of All events</h1>

<h1>Previous Events</h1>
<p>
    <strong><span>Description<span></strong>
    <strong><span>Date<span></strong>
  </p>
  <%= render partial: 'users/event', collection:  @events.previous_events %>
 
  <h1>Upcoming Events</h1>
  <p>    
    <strong><span>Description<span></strong>
    <strong><span>Date<span></strong>
  </p>
  <%= render partial: 'users/event', collection:  @events.upcoming_events %>

<%= link_to "Create Event", new_event_path%>
